version: "3.8"

services:
  jenkins:
    build: ./jenkins
    container_name: jenkins-master
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - jenkins_data:/var/jenkins_home
      - /var/run/docker.stock:/var/run/docker.sock

  nginx:
    image: nginx:latest
    container_name: jenkins-nginx
    depends_on:
      - jenkins
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro

volumes:
  jenkins_data:
